/* GoogleFonts to use:
font-family: 'Fugaz One', cursive;
font-family: 'Neuton', serif;
font-family: 'Overlock', cursive;
font-family: 'Chela One', cursive;
*/

* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bkgd_pinkdust.png");
    margin: 50px;
    /*font-family: 'Neuton', serif;*/
    font-family: 'Overlock', cursive;
    font-size: 18px;
    line-height: 22px;
    color: White;
}

/*
#background-container {
	background-image: url("../images/TheDarkCrystal-CeremonyOfTheSun.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
}
*/

h1 {
    /*font-family: 'Fugaz One', cursive;*/
    font-family: 'Chela One', cursive;
    font-size: 48px;
    line-height: 60px;
    color: Orchid;
    /* FireBrick matches Dark Crystal title logo */
}

h2 {
	/*font-family: 'Fugaz One', cursive;*/
	font-family: 'Chela One', cursive;
	font-size: 28px;
	color: MediumPurple;
}

/* YESSSSS they're next to each other now!!!!!! <fanfare> */
/* No touchy */

ul li {
    display: inline-block;
}

li img {
    width: 300px;
    height: 200px;
}

