/* Try pink dust background */

* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/bkgd_pinkdust.png");
	color: White;
}

/*
#background-container {
	background-image: url("../images/crystal-shard-large.jpg");
	background-position: center;
	background-repeat: cover;
}
*/

/* YESSSSS they're next to each other now!!!!!! <fanfare> */
/* No touchy */
ul li {
	display: inline-block;
}

/* Replace these placeholder images later; may need diff sizing */
li img {
      width: 300px;
      height: 300px;
    }