* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bkgd_pinkdust.png");
    font-family: 'Overlock', cursive;
    font-size: 18px;
    line-height: 22px;
    color: White;
}

/* TAKE THIS OUT IF TAKING TOO LONG TO ALIGN WELL
.container {
	background-image: url("../images/TheDarkCrystal-CeremonyOfTheSun.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
}
*/

h1 {
    font-family: 'Chela One', cursive;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: Orchid;
    /* FireBrick matches Dark Crystal title logo */
}

h2 {
	font-family: 'Chela One', cursive;
	font-size: 32px;
	color: MediumPurple;
}

section.player h2 {
	color: FireBrick;
}

.col-md-4, .col-md-3 {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

img.crystal-heroes {
	/*center-block()
	display: block;
	margin-left: auto;
	margin-right: auto; */
	/* Don't ~love~ that this skews the images, but is a fix for overlapping issue..... */
	overflow: hidden;
}


/*
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

/* YESSSSS they're next to each other now!!!!!! <fanfare> */
/* No touchy */
/* ~But after applying Bootstrap, these are no longer necessary. Wah waah.
ul li {
    display: inline-block;
}

li img {
    width: 300px;
    height: 200px;
}
*/

/* #instructions p {
	position: relative;
	float: left;
}
*/
